@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: 'fonteh1';
    src: url('../fontes/fonteh1.ttf') format('truetype');
}

:root {
    --cor1: hsl(75, 94%, 57%);
    --cor2: hsl(0, 0%, 100%);
    --cor3: hsl(0, 0%, 20%);
    --cor4: hsl(0, 0%, 12%);
    --cor5: hsl(0, 0%, 8%);

    --fonte-h1: 'fonteh1';

}

body {
    background-color: var(--cor5);
    padding: 60px;

}

main>img {
    display: block;
    margin: auto;

}

img {
    border-radius: 90px;

}

main {
    background-color: var(--cor4);
    padding: 40px;
    border-radius: 15px;
    min-width: 300px;
    max-width: 700px;
    margin: auto;
}




main h1 {
    font-family: var(--fonte-h1);
    font-weight: normal;
    color: var(--cor2);
    margin-top: 2 0px;
    text-align: center;
}


#verdep {
    font-family: var(--fonte-h1);
    font-size: 1em;
    color: var(--cor1);
    text-align: center;
    color: var(--cor1);
    margin-top: 10px;
    margin-bottom: 30px;
}

#punico {
    font-family: var(--fonte-h1);
    font-weight: normal;
    color: var(--cor2);
    text-align: center;
    
    margin-bottom: 20px;

}




.onebox {
    font-family: var(--fonte-h1);
    text-decoration: none;
    color: white;
    font-weight: bold;
    background-color: var(--cor3);
    border-width: 10px;
    border-style: solid;
    border-color: var(--cor3);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 15px;
    display: block;
    margin: auto;
    text-align: center;
    max-width: 250px;

}


